@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --icon-size: 2.5rem;
  font-size: 18px;
}

body {
  font-family: 'DM Sans', sans-serif;

  background-color: var(--cream);
  display: grid;
  place-items: center;
}

.container {
  max-width: 400px;
  width: 500px;
  margin-inline: auto;
  display: grid;
  grid-gap: 1rem;
}

.card {
  border-radius: 1em;
  padding: 1em 2em;
}

.even-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  border-radius: 50%;
  background-color: var(--dark-brown);
  position: relative;
}

.circle-icon::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid white;
  translate: -1.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: end;
  border-top: 2px solid var(--cream);
}

.column-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  height: 12rem;
  grid-auto-columns: 1fr;
}

.column {
  min-height: var(--column-percent);
  border-radius: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.column:hover {
  opacity: 0.8;
}

.column[data-current] {
  background-color: var(--cyan);
}

.column-item {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 0.7rem;
  padding-inline: 6px;
}

.stack > * {
  margin-top: 1rem;
}

.break-line {
  height: 2px;
  border-radius: 50%;
}

.label {
  color: var(--medium-brown);
}

.bg-soft-red {
  background-color: var(--soft-red);
}
.bg-pale-orange {
  background-color: var(--very-pale-orange);
}

.text-color-white {
  color: white;
}

.fs-3 {
  font-size: 0.9rem;
}
